form {
  background-color: #fff;
  padding: 2em;
  padding-bottom: 3em;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
}

.form-content {
  width: 300px;
}

input {
  color: #384047;
  background-color: #ebe8e8;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  padding: 1em;
  margin-bottom: 1.2em;
  width: 90%;
}

.button {
  margin: 0 auto;
}