<div class="container">
    <h1>Details:</h1>
</div>

<div *ngFor="let item of itemDetail">
    <div class="container">
        <div class='details row'>

            <div class='details column left'>
                <b>{{ item.property | titlecase }}:</b>
            </div>

            <div class='details column right'>
                <span [innerHtml]="item.value"></span>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <button (click)="back()">Back</button>
</div>
