body {
    margin-left: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    display: flex;
    margin: 80px auto 100px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.navigation {
    position: fixed;
    display: flex;
    flex-direction: row;
    margin: 80px auto 100px;
    padding: 0 16px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    margin: 50px 0 0 0;
    overflow: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
}

button {
    border: 1px solid #eee;
    background-color: #4CAF50;
    height: 40px;
    width: 100px;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    outline: 0;
}

select {
    font-size: 18px;
    border: 1px solid #eee;
    height: 50px;
    width: 250px;
    background: #fafafa;
    margin-bottom: 50px;
    padding: 5px 20px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
}

.list-item {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    cursor: pointer;
    outline: 0;
}

.list-item:hover {
    color: #4CAF50;
}

.list-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.details.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.details.column.left {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0 10px;
    width: 100px;
}

.details.column.right {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0 10px;
    width: 350px;
}

@media screen and (min-width: 768px) {
    .navigation {
        bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        bottom: 20px;
    }
}

@media screen and (max-width: 376px) {
    .navigation {
        bottom: 0;
    }
}